<template>
    <div class="container-fluid p-8" data-app>
        <h1 class="text-lg mb-10">Dashboard</h1>
    </div>
</template>

<script>
export default {
    data () {
        return {
        }
    }
}
</script>
