// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    font-family: "Poppins", sans-serif !important;
}

$body-font-family: "Poppins", sans-serif !important;

.v-application {
    font-family: "Poppins", sans-serif !important;
    .title { // To pin point specific classes of some components
        font-family: "Poppins", sans-serif !important;
    }
}
