<template>
    <v-app id="AppViewComponent">
        <v-navigation-drawer v-model="drawer" app :style="{background: $vuetify.theme.themes.light.navigation}">
            <v-list dense>
                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    link
                    :to="{ name: item.route }"
                >
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title clss="title">{{
                                item.title
                            }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <template v-slot:append>
                <div class="pa-2">
                    <v-btn dense @click.prevent="logout" block class="mr-4">Logout</v-btn>
                </div>
            </template>
        </v-navigation-drawer>
        <v-app-bar app :style="{background: $vuetify.theme.themes.light.navigation}">
            <v-app-bar-nav-icon
                @click.stop="drawer = !drawer"
            ></v-app-bar-nav-icon>
            <v-toolbar-title>Task Tracker</v-toolbar-title>
            <div class="flex flex-wrap justify-end">
                <v-dialog
                    persistent
                    max-width="500"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <button  v-bind="attrs" v-on="on"class="ml-2 v-btn v-btn--flat v-btn--text theme--light v-size--default" type="button">
                            <span class="v-btn__content">
                                <i class="v-icon mdi mdi-plus"></i>
                            </span>
                        </button>
                    </template>
                    <template v-slot:default="dialog">
                        <v-card>
                            <v-card-actions class="justify-end">
                                <v-btn
                                    text
                                    @click="dialog.value = false"
                                >X</v-btn>
                            </v-card-actions>
                            <v-card-text>
                                <v-form method="post" @submit.prevent="createProject" lazy-validation ref="form">
                                    <v-row justify="center">
                                        <v-col cols="6">
                                            <v-text-field
                                                v-model="newProject.name"
                                                label="Project name"
                                                :rules="nameRules"
                                                required>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" align="center">
                                            <v-btn
                                                @click.prevent="createProject">
                                                Create
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </template>
                </v-dialog>
                <button class="ml-2 v-btn v-btn--flat v-btn--text theme--light v-size--default" type="button">
                    <span class="v-btn__content">
                        <i class="v-icon mdi mdi-bell"></i>
                    </span>
                </button>
                <button class="ml-2 v-btn v-btn--flat v-btn--text theme--light v-size--default" type="button">
                    <span class="v-btn__content">
                        <i class="v-icon mdi mdi-account"></i>
                    </span>
                </button>
            </div>
        </v-app-bar>
        <v-main>
            <router-view></router-view>
        </v-main>
    </v-app>
</template>

<script>
export default {
    name: "AppViewComponent",
    props: {
        source: String
    },
    data: () => ({
        drawer: true,
        loggedInUser: [],
        menu: false,
        message: false,
        hints: true,
        items: [
            {
                title: "Dashboard",
                icon: "mdi-desktop-mac-dashboard",
                route: "dashboard"
            },
            {
                title: "Projects",
                icon: "mdi-folder-multiple",
                route: "projects"
            },
            {
                title: "Tasks",
                icon: "mdi-note-plus",
                route: "tasks"
            },
            {
                title: "Plan",
                icon: "mdi-cash",
                route: "plan"
            },
        ],
        newProject: {
            name: ''
        },
        nameRules: [
            v => !!v || 'Project name is required',
            v => (v && v.length <= 10) || 'Name must be less than 10 characters',
        ],
    }),

    methods: {
        logout() {
            axios.get("/logout").then(() => (location.href = "/"));
        },
        createProject() {
            this.$refs.form.validate()
            axios.post('store', this.newProject).then(response => {
                console.log('success')
            }).catch(error => {
                console.log('error')
            });
        },
    },
    created() {
        //
    }
};
</script>

<style scoped>
.v-sheet.v-toolbar:not(.v-sheet--outlined) {
    box-shadow: none !important;
}

.v-app-bar__nav-icon {
    color: #ffffff !important;
}

.flex-wrap, i {
    color: #ffffff !important;
}

.v-app-bar{
    color: #ffffff;
    font-family: "Poppins", sans-serif !important;
}

.v-list-item__title {
    color: #ffffff !important;
    font-weight: bold !important;
}

.body,
.v-application{
    font-family: "Poppins", sans-serif !important;
}

</style>
