<template>
    <v-container fluid>
        <v-snackbar
            color="success"
            top
            right
            rounded
            absolute
            v-model="snackbar.show"
            :timeout="3000"
        >
            <v-layout align-center pr-4>
                <v-icon class="pr-3" dark large>mdi-checkbox-marked-circle</v-icon>
                <v-layout column>
                    <div>
                        <strong>{{snackbar.message}}</strong>
                    </div>
                </v-layout>
            </v-layout>
        </v-snackbar>
        <div class="main" align="center">
            <v-row dense class="p-4 mt-10">
                <v-col cols="12" align="right" class="mb-5">
                    <router-link :to="{name: 'new-task'}"><v-btn outlined text :disabled="loading"><v-icon small>mdi-plus</v-icon> New Tasks</v-btn></router-link>
                </v-col>
                <v-col cols="12">
                    <v-card class="scroll rounded-card">
                        <v-card-text>
                            <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                            <v-data-table
                                :headers="tasksTable.headers"
                                :items="tasksTable.items"
                                :search="search"
                                v-if="!loading"
                            >
                                <template v-slot:item.description="{ item }">
                                    <div
                                        class="description"
                                        v-if="item.description.length  < 50"
                                    >
                                        {{ item.description }}
                                    </div>
                                    <div v-else>
                                        {{
                                            item.description.substring(0, 50) + ".."
                                        }}
                                    </div>
                                </template>
                                <template v-slot:item.priority="{ item }">
                                    {{ item.priority }}
                                    <v-icon
                                        :color="getColor(item.priority)"
                                        small
                                    >mdi-gauge-full</v-icon>
                                </template>
                                <template v-slot:item.status="{ item }">
                                    {{ item.status }}
                                    <v-icon v-if="item.status === 'Complete'"
                                        small
                                        color="green"
                                    >mdi-checkbox-marked-circle</v-icon>
                                    <v-icon v-if="item.status === 'In-progress'"
                                            small
                                            color="green"
                                    >mdi-progress-check</v-icon>
                                    <v-icon v-if="item.status === 'Inbox'"
                                            small
                                            color="green"
                                    >mdi-inbox-arrow-down</v-icon>
                                </template>
                                <template v-slot:item.due_date="{ item }">
                                    <v-chip class="ma-2">{{
                                            item.due_date
                                        }}</v-chip>
                                </template>
                                <template v-slot:item.action="{ item }">
                                    <div class="text-center">
                                        <v-menu
                                            bottom
                                            center
                                        >
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn
                                                    icon
                                                    color="primary"
                                                    dark
                                                    v-bind="attrs"
                                                    v-on="on"
                                                >
                                                    <v-icon>mdi-dots-horizontal-circle-outline</v-icon>
                                                </v-btn>
                                            </template>

                                            <v-list>
                                                <v-row justify="center">
                                                    <v-dialog
                                                        v-model="projectModel"
                                                        max-width="600px"
                                                        justify="center"
                                                    >
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-list-item
                                                                @click="openProjectSelectDialog(item.id)"
                                                                v-bind="attrs"
                                                                v-on="on"
                                                            >
                                                                <v-list-item-title>Add to project</v-list-item-title>
                                                            </v-list-item>
                                                        </template>
                                                        <v-card>
                                                            <v-card-title>Select Country</v-card-title>
                                                            <v-card-text>
                                                                <v-form method="post" lazy-validation ref="form" @submit.prevent="addToProject">
                                                                    <v-col cols="6" justify="center">
                                                                        <v-select
                                                                            :items="projects"
                                                                            :item-text="'name'"
                                                                            :item-value="'id'"
                                                                            v-model="moveTaskToProject.project_id">
                                                                        </v-select>
                                                                    </v-col>
                                                                    <v-col cols="12" align="right">
                                                                        <button class="theme-btn" @click.prevent="addToProject(projects.id)">
                                                                            Add
                                                                        </button>
                                                                    </v-col>
                                                                </v-form>
                                                            </v-card-text>
                                                        </v-card>
                                                    </v-dialog>
                                                </v-row>
                                                <v-list-item
                                                    @click="getColor"
                                                >
                                                    <v-list-item-title>View</v-list-item-title>
                                                </v-list-item>
                                                <v-list-item
                                                    @click="getColor"
                                                >
                                                    <v-list-item-title>Update</v-list-item-title>
                                                </v-list-item>
                                                <v-list-item
                                                    @click="getColor"
                                                >
                                                    <v-list-item-title>Delete</v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                        </v-menu>
                                    </div>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
       </div>
    </v-container>
</template>

<script>
export default {
    components: {

    },
    data() {
        return {
            snackbar: {
                show: false,
                message: "",
            },
            moveTaskToProject: {
                task_id: null,
                project_id: null
            },
            projects: [],
            projectModel: false,
            date: new Date().toISOString().substr(0, 10),
            tasks: [],
            search: '',
            createTask: false

        }
    },

    created() {
        this.getTasks();
        this.getProjects();
    },

    computed: {
        loading() {
            return (
                _.isEmpty(this.tasks)
            );
        },
        tasksTable() {
            return {
                headers: [
                    {text: 'Title', value: 'title'},
                    { text: "Description", value: "description" },
                    {text: 'Status', value: 'status'},
                    {text: 'Priority', value: 'priority'},
                    { text: "Due Date", value: "due_date" },
                    { text: "Action", value: "action" },
                ],
                items: (this.tasks || [])
            }
        },
    },

    methods: {
        openProjectSelectDialog(task_id) {
            this.moveTaskToProject.task_id = task_id,
            this.projectModel = true;
        },
        getColor(priority) {
            if (priority === "High") return "red";
            else if (priority === "Medium") return "yellow";
            else return "green";
        },
        getTasks() {
            axios.get('/all-tasks').then(response => {
                this.tasks = response.data.tasks;
            }).catch(error => {
                console.log('error')
            });
        },
        getProjects() {
            axios.get('/all-projects').then(response => {
                this.projects = response.data.projects;
            }).catch(error => {
                console.log('error')
            });
        },

        addToProject(project_id) {
            axios.post('add-task-to-project', this.moveTaskToProject).then(response => {
                this.projectModel = false
                this.snackbar.show = true
                this.snackbar.message = "Task moved"
            }).catch(error => {
                console.log('error')
            });
        }
    }
}
</script>
