<template>
    <v-container fluid>
        <v-snackbar
            color="success"
            top
            right
            rounded
            absolute
            v-model="snackbar.show"
            :timeout="3000"
        >
            <v-layout align-center pr-4>
                <v-icon class="pr-3" dark large>mdi-checkbox-marked-circle</v-icon>
                <v-layout column>
                    <div>
                        <strong>{{snackbar.message}}</strong>
                    </div>
                </v-layout>
            </v-layout>
        </v-snackbar>
        <div class="main" align="center">
            <p class="font-weight-bold mt-5 mb-20">Add a new task</p>
            <div class="container">
                <v-form method="post" lazy-validation ref="form" @submit.prevent="addTask">
                    <v-row justify="center" dense>
                        <v-col cols="6">
                            <v-text-field
                                label="Title"
                                v-model="newTask.title"
                                :rules="titleRules"
                                required>
                            </v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-select
                                label="Status"
                                v-model="newTask.status"
                                :items="status"
                                required>
                            </v-select>
                        </v-col>
                        <v-col cols="6">
                            <v-select
                                label="Priority"
                                v-model="newTask.priority"
                                :items="priority"
                                required>
                            </v-select>
                        </v-col>
                        <v-col cols="6">
                            <v-menu
                                ref="menu"
                                v-model="menu"
                                :close-on-content-click="false"
                                :return-value.sync="date"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                            >
                                <template
                                    v-slot:activator="{
                            on
                        }"
                                >
                                    <v-text-field
                                        v-model="newTask.due_date"
                                        label="Due Date"
                                        readonly
                                        v-on="on"
                                        single-line
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="newTask.due_date"
                                    no-title
                                    scrollable
                                    :min="date"
                                >
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                    <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" class="mt-5">
                            <v-textarea
                                outlined
                                v-model="newTask.description"
                                label="Description"
                                required
                            ></v-textarea>
                        </v-col>
                        <v-col cols="12" align="center">
                            <v-btn outlined text @click.prevent="addTask"><v-icon small>mdi-plus</v-icon>Add Task</v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </div>
        </div>
    </v-container>
</template>

<script>
export default {
    data () {
        return {
            snackbar: {
                show: false,
                message: "",
            },
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            submitted: false,
            value: 0,
            newTask: {
                title: '',
                description: '',
                priority: '',
                status: '',
                due_date: ''
            },
            priority: [
                "High",
                "Medium",
                "Low"
            ],
            status: [
                "Inbox",
                "In-progress",
                "Completed"
            ],
            titleRules: [
                v => !!v || 'Project name is required',
                v => (v && v.length <= 20) || 'Name must be less than 10 characters',
            ],
        }
    },

    methods: {
        addTask() {
            this.$refs.form.validate()
            this.submitted = true
            axios.post('store', this.newTask).then(response => {
                this.submitted = false
                this.snackbar.show = true
                this.snackbar.message = "Task created"
                this.$refs.form.reset()
                console.log('success')
            }).catch(error => {
                console.log('error')
            });
        },
    }
}
</script>

<style>
form{
    max-width: 500px !important;
    margin: 0 auto !important;
}

.theme-btn {
    font-size: 14px;
    padding: 8px 16px;
    font-weight: 300;
    background-color: #4353FF;
    color: #fff;
    border-radius: 2rem;
    font-family: "Poppins", sans-serif !important;
}


.v-progress-circular {
    margin: 1rem;
}

</style>
