<template>
    <v-container fluid>
        <v-app>
            <div class="tasks-list" align="center">
                <v-snackbar
                    :color="snackbar.color"
                    top
                    :timeout="-1"
                    center
                    text
                    rounded
                    v-model="snackbar.show"
                >
                    <v-layout align-center pr-4>
                        <v-icon class="pr-3" medium color="red">mdi-alert</v-icon>
                        <v-row justify="center">
                            <v-col cols="12" align="center">
                                <strong>{{snackbar.message}}</strong>
                            </v-col>
                            <v-col cols="6" align="right" v-if="snackbar.delete">
                                <button @click="deleteTask">Yes</button>
                            </v-col>
                            <v-col cols="6" align="left" v-if="snackbar.delete">
                                <button @click="snackbar.show = false">No</button>
                            </v-col>
                            <v-col cols="6" align="center" v-if="snackbar.delete !== true">
                                <button @click="closeSuccessDialog">close</button>
                            </v-col>
                        </v-row>
                    </v-layout>
                </v-snackbar>

                <v-dialog max-width="500" v-model="newProjectDialog">
                    <v-card>
                          <div align="right" class="p-4">
                              <v-btn icon @click="newProjectDialog = false"><v-icon>mdi-close</v-icon></v-btn>
                          </div>
                        <p class="h2 text-bold text-center">New Project</p>
                        <v-card-text>
                            <v-form method="post" @submit.prevent="addProject" lazy-validation ref="form">
                                <v-row align="center" justify="center">
                                    <v-col cols="6" align="center" class="mt-5">
                                        <v-text-field
                                            :rules="nameRules"
                                            v-model="newProject.name"
                                            label="Project name"
                                            required>
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12" align="center">
                                        <v-btn
                                            outlined text class="mb-2"
                                            @click.prevent="addProject">
                                            <v-icon small>mdi-plus</v-icon>
                                            Add Project
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-dialog>

                <v-dialog max-width="800" v-model="dialog">
                    <v-card>
                        <v-card-text>
                            <v-row>
                                <v-col cols="12" align="center">
                                    {{ selectedTask.title }}
                                </v-col>
                                <v-col cols="6" align="center">
                                    <v-text-field :value="selectedTask.status">
                                    </v-text-field>
                                </v-col>
                            </v-row>

                        </v-card-text>
                    </v-card>
                </v-dialog>

                <p class="font-weight-bold mt-5">Projects</p>
                <v-row align="center" justify="center">
                    <v-col cols="12" class="text-right">
                        <v-col cols="12" align="right" class="mb-5">
                            <v-btn outlined text @click="newProjectDialog = true"><v-icon small>mdi-plus</v-icon>Add Project</v-btn>
                        </v-col>
                    </v-col>
                    <v-col cols="8" align="center">
                        <v-skeleton-loader type="table" class="mx-auto" v-if="loading"></v-skeleton-loader>
                        <v-expansion-panels>
                            <v-expansion-panel
                                v-for="(project, index) in projects" :key="index"
                                @click="getTasks(project)"
                                width="600"
                                class="mb-5"
                            >
                                <v-expansion-panel-header>{{project.name}}</v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-row v-for="(task, index) in tasks" :key="index">
                                        <v-col cols="12" align="center" v-if="task.length === 0">
                                            <h1> You do not have any task(s) in the project</h1>
                                        </v-col>
                                        <v-col cols="6" align="left">
                                            {{task.title}}
                                            <v-chip
                                                :color="getColor(task.status)"
                                                class="ma-2"
                                                outlined
                                            >
                                                {{ task.status }}
                                            </v-chip>
                                        </v-col>
                                        <v-col cols="6" align="right">
                                            <v-menu offset-y>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon v-bind="attrs"
                                                           v-on="on">
                                                        <v-icon>mdi-dots-horizontal</v-icon>
                                                    </v-btn>
                                                </template>
                                                <v-list>
                                                    <v-list-item
                                                        link
                                                    >
                                                        <v-list-item-title @click="showDeleteDialog(task)">Delete</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item
                                                        link
                                                    >
                                                        <v-list-item-title @click="openDialog(task)">Update</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item
                                                        link
                                                    >
                                                        <v-list-item-title link>More</v-list-item-title>
                                                    </v-list-item>
                                                </v-list>
                                            </v-menu>
                                        </v-col>
                                    </v-row>
                                </v-expansion-panel-content>
                                <router-link :to="{name: 'new-task'}"><v-btn outlined text class="mb-2"><v-icon small color="primary">mdi-plus</v-icon>Add task</v-btn></router-link>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-col>
                </v-row>
            </div>
        </v-app>
    </v-container>
</template>

<script>

export default {
    data() {
        return {
            loading: false,
            nameRules: [
                v => !!v || 'Project name is required',
                v => (v && v.length <= 20) || 'Name must be less than 10 characters',
            ],
            newProject: {
                name: ''
            },
            newProjectDialog: false,
            selectedTask: [],
            dialog: false,
            task_id: '',
            snackbar: {
                show: false,
                message: "",
                color: "",
                delete: true,
            },
            showDialog: false,
            project_id: null,
            tasks: [],
            active: false,
            projects: [],
            options: [
                { title: 'Add task' },
                { title: 'Delete' },
            ],
        }
    },

    computed: {
    },

    methods: {
        addProject() {
            this.$refs.form.validate()
            axios.post('add-project', this.newProject).then(response => {
                this.newProjectDialog = false;
                this.$refs.form.reset()
                this.snackbar.show = true;
                this.snackbar.delete = false;
                this.snackbar.message = 'New project added';
                this.snackbar.color = "success"
            }).catch(error => {
                console.log('error')
            });
        },

        openDialog(task) {
            this.dialog = true;
            this.updateTask = task
        },

        getColor(status) {
            if (status === "Complete") return "green";
            else if (status === "In-progress") return "yellow";
            else return "red";
        },

        getProjects() {
            this.loading = true
            axios.get('/all-projects').then(response => {
               this.projects = response.data.projects;
                this.loading = false;
            }).catch(error => {
                console.log('error')
            });
        },
        getTasks(project) {
            this.selectedCourse = project
            axios.get('/get-tasks/' + project.id).then(response => {
                this.tasks = response.data.tasks;
                this.active = true;
            }).catch(error => {
                console.log('error')
            });
        },

        showDeleteDialog(task) {
            this.task_id = task.id
            this.snackbar.show = true;
            this.snackbar.message = 'Are you sure you want to delete this task?';
            this.snackbar.color = "primary"
        },

        closeSuccessDialog() {
            this.snackbar.show = false;
            this.snackbar.delete = true
        },

        deleteTask() {
            this.snackbar.show = false;
            this.snackbar.delete = false;
            axios.delete('/delete-task/' + this.task_id).then(response => {
                this.snackbar.show = true;
                this.snackbar.delete = false;
                this.snackbar.message = 'Task deleted';
                this.snackbar.color = "success"
            }).catch(error => {
                console.log('error')
            });
        },

        updateTask(task) {
            axios.put('/update-task/' + task.id, task).then(response => {
                this.snackbar.show = true;
                this.snackbar.delete = false;
                this.snackbar.message = 'Task deleted';
                this.snackbar.color = "success"
            }).catch(error => {
                console.log('error')
            });
        }
    },

    created() {
        this.getProjects();
    },
}
</script>
