<template>
    <v-container fluid id="plan">
        <p class="text-center h1">Available plans</p>
        <div class="mt-20 mb-20">
            <v-row>
                <v-col cols="sm" v-for="(plan, index) in plans" :key="index" :class="{isActive: plan.active}">
                    <v-card height="200px" >
                        <v-row class="no-gutters">
                            <v-col class="text-left pa-2">
                                <h2 class="h5 font-weight-bold">{{plan.subscription_type}}</h2>
                            </v-col>
                            <v-col class="text-right pa-2" cols="12">
                                <h2 class="h2 font-weight-bold 300">{{plan.price}}</h2>
                            </v-col>
                            <v-col cols="12" class="text-center">
                                <h2>{{plan.description}}</h2>
                            </v-col>
                            <v-col cols="12" class="text-center mt-5">
                                <v-btn text outlined @click="switchPlan(plan)">Subscribe</v-btn>
                            </v-col>
                        </v-row>
                    </v-card>
                </v-col>
            </v-row>
        </div>
        <div class="plan">
            <p class="font-weight-black text-center">
                Choose a plan that fits your needs.
            </p>
            <p class="text-center">
                Joining takes less than a minute. We have a plan called
                “monthly” - and it’s not like the gym.
                <br />Seriously, you can cancel it in five seconds if this isn't
                for you
            </p>
        </div>
    </v-container>
</template>

<script>

export default {
    components: {
    },
    data () {
        return {
            planSelected: [],
            newPlan: [],
            plans: [],
            active: true
        }
    },

    created() {
        this.getPlans()
    },

    methods: {

        getPlans() {
            axios.get('/get-plans').then(response => {
                this.plans = response.data.plans;
            }).catch(error => {
                console.log('error')
            });
        },

        switchPlan(plan) {
            this.newPlan = plan
            axios.post('/switch-plan', this.newPlan).then(response => {
                console.log(plan)
            }).catch(error => {
                console.log('error')
            });
        },

        selectedPlan(plan) {
            this.activeIndex = plan.active
            this.planSelected = plan;
            this.planSelected.active = !this.planSelected.active
            return this.planSelected
        }

    },
    computed: {

    },

};
</script>

<style>
    .isActive {
        background-color: #4353ff;
        opacity: 0.5;
    }
</style>

